<div class="space-header"></div>
<div class="adindcover">
<a href="/admin/showduration"><div class="adindchild"><p>Create New Blog</p></div></a>
<a href="/admin/showduration"><div class="adindchild"><p>Update Blog</p></div></a>
<a href="/admin/showduration"><div class="adindchild"><p>Delete Blog</p></div></a>
<a href="/admin/showduration"><div class="adindchild"><p>View All Blog</p></div></a>

</div>
