<div class="space-header"></div>
<div class="adindcover">
<a href="/admin/newblog"><div class="adindchild"><p>Create New Blog</p></div></a>
<a href="/admin/deleteblog"><div class="adindchild"><p>Delete Blog</p></div></a>
<a href="/admin/viewallblog"><div class="adindchild"><p>View All Blog</p></div></a>
<a href="/admin/viewupdateblog"><div class="adindchild"><p>Update Blog</p></div></a>
<a href="/admin/viewlead"><div class="adindchild"><p>View All Leads Information</p></div></a>
</div>
