<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
<div class="space-header"></div>
<div class="divcontainer">
<h5 class="blogtitle"><%=@blog.title%></h5>
<p><%=@blog.content%></p>
</div>